span.select2-selection__choice__remove {
  float: right;
  padding-left: 5px;
}

.bucw-product-thumbnail a img {
  width: 150px;
  height: auto;
}

.bucw-product-title a:active,
.bucw-product-title a:focus,
.bucw-product-thumbnail a:active,
.bucw-product-thumbnail a:focus {
  box-shadow: none;
  text-decoration: underline;
}

#products-table .product-row .product-name .bucw-product-title a:hover {
  text-decoration: underline;
}

/************** removed table stucture CSS   ******************/

.product-row {
  display: flex;
}

/************** CSS select2 ******************/
span.select2-selection.select2-selection--multiple {
  padding: 8px;
  height: auto;
  margin: 0;
}
.product-row span.select2-selection.select2-selection--multiple {
  min-height: 100px;
}

#bucw-filter-container {
  margin-left: 10px;
}

.select2-container--focus {
  outline: none;
  box-shadow: 0px 0px 7px #0a2540;
  border-color: #0a2540;
  border-radius: 5px;
}

.select2-dropdown--above,
.select2-dropdown--below {
  box-shadow: 0px 0px 7px #0a2540;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected],
.select2-container--default
  .select2-results__option--highlighted[data-selected] {
  background-color: #0073aa !important;
  color: #fff;
}

.select2-results__option {
  margin: 0;
  padding: 8px !important;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  padding: 3px 6px !important;
  border: 1px solid #a0a86d !important;
  background-color: #f4f9d2 !important;
  line-height: 21px;
}

/************** with table stucture CSS   ******************/

#bucw-filter-container .tokenfield {
  padding-bottom: 0px;
  border: 1px solid #0a2540;
  border-radius: 3px;
  padding: 0.6rem;
  background-color: #ffffff;

  /* min-height: 60px;
  max-height: 60px;
  max-width: 343px;
  overflow-y: scroll;
  overflow-x: hidden; */
}

.tokenfield.focus {
  border-color: #0a2540 !important;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px #0a2540 !important;
}

#products-table .alt th {
  text-align: center;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  border-color: black;
}

/* To change color for tokenfield list */
.ui-autocomplete {
  overflow-y: scroll;
  max-height: 250px;
  border: 1px solid #0a2540;
  overflow-x: hidden;
}
.ui-autocomplete li {
  padding: 8px 6px !important;
  font-size: 16px;
}
.ui-autocomplete li div {
  padding: 0.6rem 0.8rem !important;
}
.ui-state-active,
.ui-autocomplete li.ui-state-focus {
  background: #0a2540 !important;
  font-size: 0.9rem;
  color: #ffffff !important;
}

.emptyProductDiv {
  /* border: 5px outset red;
    background-color: rgb(198, 211, 216);     */
  text-align: center;
}

.bucw-headingwrap .form-table th {
  vertical-align: top;
  width: 100px;
  padding: 0 15px;
}
/* .bucw-headingwrap .form-table td tbody td:first-child{ width:30%}
.bucw-headingwrap .form-table td tbody td:last-child{ width:10%} */
.bucw-headingwrap .form-table td tbody td {
  padding: 0 6px !important;
  vertical-align: top;
}
.bucw-headingwrap .form-table td tbody td:first-child select {
  width: 250px;
  height: 42px;
  color: #000;
}
.bucw-search > button {
  margin: 4px 0 4px 12px !important;
}
#bucw-search-product svg {
  width: 19px;
  transform: rotate(87deg);
  padding-left: 10px;
  position: absolute;
  left: 14px;
  top: 9px;
}
#bucw-search-product svg path {
  stroke: #fff;
  fill: #fff;
}
#bucw-search-product,
.bucw-save {
  color: #ffffff;
  border-color: #0a2540;
  background: #0a2540;
  vertical-align: top;
  padding: 0 25px 0 45px;
  display: inline-block;
  line-height: 48px;
  display: inline-block;
  height: auto;
  font-size: 16px;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  position: relative;
  transition: all 500ms ease;
}
.bucw-save {
  background-color: #01978D;
  border-color: #01978D;
}
.bucw-save svg {
  width: 19px;
  transform: rotate(87deg);
  padding-left: 10px;
  position: absolute;
  left: 14px;
  top: 9px;
}
.bucw-save svg path {
  stroke: #fff;
  fill: #fff;
}

#bucw-search-product:hover,
.bucw-save:hover {
  background: #010f1e;
  color: #ffffff;
}
.tokenfield {
  min-width: 343px;
  min-height: 42px;
  padding-top: 6px;
}
.tokenfield input[type="text"] {

}
.tokenfield .token {
  border: 1px solid #c6e7c9;
  background-color: #e1f5e4;
}

#products-table {
  margin-top: 20px;
  width: 100%;
}
#products-table tbody > tr:last-child td {
  border-bottom: 1px solid #cdcde4;
}
#products-table th {
  padding: 8px 6px;
  background: #0a2540;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
}
#products-table th:nth-child(2n) {
  border-right: 1px solid #c1e8e9;
  border-left: 1px solid #c1e8e9;
}
#products-table tbody > tr:nth-child(odd) {
  background: #f0ffff;
}
#products-table tbody > tr:nth-child(even) {
  background: #deffff;
}
#products-table tbody > tr > td {
  padding: 20px 6px !important;
  border-top: 1px solid #90cbcb;
  border-left: 1px solid #9bf3f3;
}
#products-table tbody > tr > td:first-child input[type="text"] {
  /* 	color: #0a2677 !important;
    background: #b5deff;
	width:100%; */
  color: #0a2540 !important;
  background: #ffffff;
  max-width: 100%;
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 30px;
  padding: 8px 10px;
  border-color: #d4ce96;
}
#products-table .tokenfield {
  border: 0px solid #d2d3d5;
  width: 94%;
  background: transparent;
}
#products-table .tokenfield .token {
  /* 	    border: 1px solid #e7e5c6;
    background-color: #f5f4e1; */
  border: 1px solid #a0a86d;
  background-color: #f4f9d2;
  height: 25px;
  line-height: 25px;
}

.bucw-headingwrap .form-table > tbody > tr > th {
  padding-top: 22px;
  padding-left: 6px;
  font-size: 22px;
  color: #012745;
}
#bucw-search-product {
  margin-left: 12px;
}
.bucw-headingwrap .form-table > tbody > tr > td {
  /*   width: calc(100% - 100px); */
}
.product-row > td {
  width: 36%;
}
.product-row > td:first-child {
  width: 25%;
}
.product-row > td:last-child {
  border-right: 1px solid #cdcde4;
}
.bucw-headingwrap .form-table td tbody td:first-child {
  padding-left: 0 !important;
}

#bucw-upsells-crosssell h1 {
  border-bottom: 1px solid #b7b7cd;
  color: #5c5c5c;
}
.bucw-headingwrap .form-table {
  /*     background: #fffcfc;
    padding: 12px; */
}

.bucw-headingwrap {
  padding: 15px;
}
.bucw-headingwrap .bucw-header {
  background: #0a2540;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.bucw-headingwrap .bucw-header + main {
  background: #ffffff;
  padding: 25px;
  border: 2px solid #0a2540;
  border-radius: 0 0 15px 15px;
}
.bucw-headingwrap .form-table {
  margin-top: 0;
}
.bucw-headingwrap .bucw-header h1 {
  color: #f2ffff;
  font-size: 28px;
  margin: 7px 0;
  font-weight: 33;
  /* text-shadow: 1px 0px 2px #1e9495; */
}
#products-table .tokenfield .token .close {
  text-decoration: none;
  display: inline-block;
  margin-top: 2px;
}

select#filter-type {
  border: 1px solid #0a2540;
}
/*================ new ===================*/
#bucw-filter-header > div:nth-child(2n) > input,
.bucw-save {
  display: none;
}
.bucw-headingwrap .bucw-settings-field th,
.bucw-headingwrap .bucw-settings-field td {
  display: block;
  width: 100%;
  padding: 15px 4px;
}

.bucw-headingwrap
  .bucw-settings-field
  .bucw-filter-dropdown
  #bucw-filter-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.bucw-headingwrap
  .bucw-settings-field
  .bucw-filter-dropdown
  #bucw-filter-header
  #filter-type {
  height: 49px;
  padding: 9px;
  min-width: 150px;
  border-radius: 4px;
}
#bucw-search-product {
  margin-left: 12px;
}
.bucw-headingwrap
  .bucw-settings-field
  .bucw-filter-dropdown
  #bucw-filter-header
  .tokenfield {
  margin-left: 12px;
}

#products-table > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #0a2540;
  width: calc(100% - 2px);
  background: #0a2540;
  padding: 0;
  border-radius: 5px 5px 0 0;
}
#products-table > div:first-child > span {
  width: 25%;
  box-sizing: border-box;
  font-size: 18px;
  color: #ffffff;
  padding: 12px;
  border-radius: 0 !important;
  /* text-shadow: 1px 1px 2px #2e8384; */
}
/*   #products-table > div:first-child > span:first-child{ width: 35%;} 
  #products-table .product-name{ width: 35%;}*/
#products-table .product-row > div {
  width: 25%;
  box-sizing: border-box;
  padding: 12px;
}
#products-table .product-row > div:first-child input[type="text"] {
  width: 100%;
  border: 0;
  box-shadow: none;
  color: #1d2327;
  font-size: 1.3em;
  margin: 1em 0;
}
#products-table .tokenfield + .tokenfield {
}
#products-table .product-row > div:nth-child(2n),
#products-table > div:first-child > span:nth-child(2n) {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-radius: inherit;
}
#products-table .product-row {
  border: 1px solid #e8e8e8;
  border-top: 0;
  width: calc(100% - 2px);
}
#products-table .tokenfield .token .close {
  text-decoration: none;
}
#products-table > div:last-child {
  border-radius: 0 0 5px 5px;
}

.bucw-product-name,
.bucw-upsells,
.bucw-crosssells {
  display: none;
}
.tokenfield .token .close {
  text-decoration: none;
}

#products-table .product-row .product-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#products-table .product-row .product-name > div {
  width: 100%;
  padding: 0 15px;
}
#products-table .product-row .product-name .bucw-product-thumbnail {
  max-width: 152px;
  padding: 0;
}
#products-table .product-row .product-name .bucw-product-title {
  font-size: 16px;
}
#products-table .product-row .product-name .bucw-product-title a {
  text-decoration: none;
  color: #042340;
  font-size: 18px;
}

@media only screen and (max-width: 1300px) {
  .bucw-headingwrap .bucw-header {
    padding: 10px;
  }
  .bucw-headingwrap .bucw-header h1 {
    font-size: 24px;
    line-height: 26px;
  }
  .bucw-headingwrap
    .bucw-settings-field
    .bucw-filter-dropdown
    #bucw-filter-header {
    display: block;
  }
  #bucw-search-product {
    margin-left: 0;
    margin-top: 15px;
  }
  .bucw-headingwrap
    .bucw-settings-field
    .bucw-filter-dropdown
    #bucw-filter-header
    .tokenfield {
    min-width: inherit;
    width: calc(100% - 18px);
    margin-left: 0;
    margin-top: 15px;
    padding: 6px;
  }
  .tokenfield .token-input {
    width: 100% !important;
  }
  #products-table > div:first-child {
    display: none;
  }
  #products-table .product-row {
    display: block;
    margin: 11px 0;
    border-top: 1px solid #e8e8e8;
    border-radius: 4px;
  }
  #products-table .product-row > div:nth-child(2n),
  #products-table > div:first-child > span:nth-child(2n) {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-left: 0px solid #e8e8e8;
    border-right: 0px solid #e8e8e8;
  }
  #products-table .product-row > div {
    width: 100%;
  }
  #bucw-upsells-crosssell {
    max-width: 100%;
    overflow: scroll;
    padding-bottom: 10px;
  }
  .wp-admin .form-table select,
  .wp-core-ui select {
    width: calc(100% - 5px);
  }

  .bucw-product-name,
  .bucw-upsells,
  .bucw-crosssells {
    display: block;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    background: #48aaaa;
    line-height: 28px;
    padding: 2px 8px;
    color: #f4f9d2;
    margin-bottom: 12px;
  }
  .bucw-product-name {
    margin-bottom: 0;
  }

  #bucw-search-product {
    margin-left: unset;
    margin-top: 10px;
  }
  #products-table .product-row .product-name {
    align-items: self-start;
  }
  #products-table .product-row .product-name .bucw-product-name {
    margin-bottom: 20px;
  }
  #bucw-filter-container .select2-container {
    width: 99% !important;
  }
  .bucw-search > button#bucw-save-top {
    margin-left: 30px !important;
  }
}

/*** Tooltips **/

.setting-help-tip::after {
  color: rgb(240, 234, 234);
  background-color: rgb(80, 77, 77);
  content: "\003F";
  position: relative;
  font-weight: 600;
  text-align: center;
  font-size: 12px;
  display: inline-block;
  border-radius: 20px;
  cursor: help;
  height: 15px;
  font-style: normal;
  width: 15px;
}

.setting-help-tip {
  position: relative;
  display: inline-block;
  padding-left: 13px;
}

.setting-help-tip .tooltipdata {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -77px;
  opacity: 0;
  transition: opacity 0.3s;
}

.setting-help-tip .tooltipdata::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.setting-help-tip:hover .tooltipdata {
  visibility: visible;
  opacity: 1;
}

.setting-head {
  vertical-align: top;
  text-indent: initial;
  border-spacing: 2px;
  line-height: 1.3;
  font-weight: 600;
  position: relative;

  font-size: 100px;
}

/* --------- */
.footerSavebutton {
  text-align: right;
}
/* ============= */

@media only screen and (max-width: 767px) {
  #bucw-filter-container {
    margin-left: 0;
    margin-top: 15px;
  }
  .bucw-search > button {
    margin: 12px 6px 4px 0 !important;
  }
  .select2-container {
    width: 99% !important;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  #bucw-filter-container {
    margin-left: 0;
    margin-top: 15px;
  }
  .bucw-search > button {
    margin: 12px 6px 4px 0 !important;
  }
  .bucw-headingwrap
    .bucw-settings-field
    .bucw-filter-dropdown
    #bucw-filter-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .bucw-headingwrap
    .bucw-settings-field
    .bucw-filter-dropdown
    #bucw-filter-header
    > div:first-child {
    width: 35%;
  }
  .bucw-headingwrap
    .bucw-settings-field
    .bucw-filter-dropdown
    #bucw-filter-header
    > div#bucw-filter-container {
    width: 62%;
  }
  .bucw-headingwrap
    .bucw-settings-field
    .bucw-filter-dropdown
    #bucw-filter-header
    > div.bucw-search {
    width: 100%;
  }
}

@media only screen and (min-width: 1300px) {
  #bucw-filter-header > div:first-child {
    width: 180px;
  }
  #bucw-filter-header > div#bucw-filter-container {
    width: calc(100% - 420px);
    margin-left: 0;
  }
  #bucw-filter-header > div#bucw-filter-container .select2-container {
    width: 100% !important;
  }
  #bucw-filter-header > div.bucw-search {
    /* width: 270px; */
    display: flex;
    justify-content: flex-end;
    margin-left: 12px;
  }
  .bucw-search > button.bucw-save {
    margin: 4px 0 4px 35px !important;
  }
}

.select2-container .select2-selection--single{   min-height: 50px;}
.select2-container .select2-selection--single .select2-selection__rendered{padding: 12px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{ top: 10px;}


/* Loader CSS */

#bucw_loader {
  text-align: center;
}

/* Loader image */
#loading-image {
  margin: auto;
  width: 130px;
}

/* END */

/* Pagignation section  */

/* Pagination number text box */
.bucw_numtext {
  width: 72px;
  height: 34px;
}

/* Pagination button width */
.width_but {
  min-width: 30px;
  min-height: 30px;
}


@media only screen and (min-width: 999px) and (max-width: 1024px) {
  .bucw-left-way {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    display: none;
    justify-content: space-between;
  }

  div.bucw-left-way.bucw_bottom {
    justify-content:end
  }
}

@media only screen and (min-width: 1px) and (max-width: 999px) {
  .bucw-left-way {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    /* width: 67%; */
    display: none;
    justify-content: space-between;
  }

  div.bucw-left-way.bucw_bottom {
    justify-content:end
  }
}

@media only screen and (min-width: 1024px) and (max-width: 2000px) {
  .bucw-left-way {
    margin-top: 20px;
    /* float: right; */
    display: none;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  div.bucw-left-way.bucw_bottom {
    justify-content:end
  }
}

div.bucw-number-filter {
  float: left;
}

div.bucw-pagig-div {
  float: right;
}

/* END */


.select2-selection__choice {
  display: flex;
  flex-direction: row-reverse;
}


.select2-container{width: 100% !important;}
.product-row{flex-wrap: wrap;}
.select2-container .select2-selection--multiple .select2-selection__rendered{
  text-overflow: inherit !important;
  white-space: inherit !important;
}
#products-table .product-row .product-name{ 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.beucw_buc-product-thumbnail a{display: inline-block;}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
 #bucw-filter-header {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  #bucw-filter-header  > div:first-child {
    width: 35%;
  }
  #bucw-filter-header > div#bucw-filter-container {
    width: 62%;
  }
  #bucw-filter-header > div.bucw-search {
    width: 100%;
  }
  .bucw-number-filter #bucw-number{
 width: 80px;
  }
  div.bucw-number-filter{ width: 400px;}
  .bucw_pro_notice{ width: 100%; display: block;}

}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  div.bucw-left-way{ width: 100%; flex-wrap: wrap;}
  div.bucw-number-filter, .bucw-pagig-div{ width: 100%; margin-top: 15px; float: left;}  
  .bucw-number-filter #bucw-number{ width: 80px !important;}
  div.bucw-number-filter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

}

.select2-container .select2-selection--multiple .select2-selection__rendered{
  text-overflow: inherit !important;
  white-space: inherit !important;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .bucw-number-filter #bucw-number{
    width: 80px;
     }
  div.bucw-number-filter{ width: 330px;}
  .bucw_pro_notice{ width: 100%; display: block;}
}

/* Free button */
.bucw-upgrade-now{
  padding: 20px;
  background-color: #0A2540;
  border-radius: 5px;
}

.bucw-upgrade-now > a{
  color: #ffffff;
  text-decoration: none;
}

/* Bottom Free Footer CSS */

/* NEW CSS */

/* ====== Footer Style ====== */

.bucw-footer-upgrade{
  width: 98%;
  margin: 10px;
  display: flex;
  background: #0A2540;
  border-radius: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bucw-footer-upgrade .sft-logo{ width: 23%; background: #FFF; display: flex; align-items: center; justify-content: center; border-radius: 14px 0 0 14px;}
.bucw-footer-upgrade .bucw-upgrade-col1{ width: 33%;}
.bucw-footer-upgrade .bucw-upgrade-col{ width: 33%;  padding: 10px; box-sizing: border-box;}
.bucw-footer-upgrade .sft-logo a{ display: inline-block; margin: 0; padding: 0; width: 80%;}
.bucw-footer-upgrade .sft-logo img{ max-width: 100%; height: auto;}


.bucw-footer-upgrade .bucw-upgrade-col1 h3{ 
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  color: #F8C844;
}
.bucw-footer-upgrade .bucw-upgrade-col1 .bucw-moneyback-badge{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.bucw-footer-upgrade .bucw-upgrade-col1 .bucw-moneyback-badge > div:first-child{ width: 40%;}
.bucw-footer-upgrade .bucw-upgrade-col1 .bucw-moneyback-badge > div:last-child{ width: 56%; margin-top: -40px;}

.bucw-footer-upgrade .bucw-upgrade-col1 .bucw-moneyback-badge > div h3{ color: #FFF;}
.bucw-footer-upgrade .bucw-upgrade-col1 .bucw-moneyback-badge > div p{
  font-size: 14px;
  color: #FFF;
  line-height: 18px;
}
.bucw-footer-upgrade .bucw-upgrade-col1 .bucw-moneyback-badge > div .btn{
    display: inline-block;
    padding: 0 17px;
    line-height: 38px;
    border: none;
    border-radius: 5px;
    background: #00978D;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.bucw-footer-upgrade .bucw-upgrade-col1 .bucw-moneyback-badge > div .btn:hover{ background: #000;}
.bucw-footer-upgrade .bucw-upgrade-col1 .bucw-moneyback-badge > div img{ max-width: 78%; height: auto;}

.bucw-footer-upgrade .bucw-upgrade-col > ul{
  padding: 15px;
  border: 2px dotted white;
  border-radius: 7px;
  color: white;
}
.bucw-footer-upgrade .bucw-upgrade-col > ul li{
  list-style-type: none; display: block; font-size: 14px; color: #FFF; line-height: 18px;
}
.bucw-footer-upgrade .bucw-upgrade-col > ul li strong{ font-weight: 900;}

@media only screen and (min-width:300px) and (max-width:600px){
  .bucw-footer-upgrade{ margin: 0;}
  .bucw-footer-upgrade .sft-logo{ width: 100%;  border-radius: 14px 14px 0 0; padding: 25px 0;}
  .bucw-footer-upgrade .bucw-upgrade-col1{ width: 100%; padding: 15px; box-sizing: border-box;}
  .bucw-footer-upgrade .bucw-upgrade-col{ width: 100%;  padding: 10px; box-sizing: border-box;}
}
@media only screen and (min-width:600px) and (max-width:1200px){
  .bucw-footer-upgrade .sft-logo a{ max-width: 200px;}
  .bucw-footer-upgrade{ margin: 0;}
  .bucw-footer-upgrade .sft-logo{ width: 100%;  border-radius: 14px 14px 0 0; padding: 25px 0;}
  .bucw-footer-upgrade .bucw-upgrade-col1{ width: 50%; padding: 15px; box-sizing: border-box;}
  .bucw-footer-upgrade .bucw-upgrade-col{ width: 50%;  padding: 10px; box-sizing: border-box;}
}

.beucw-setting-upgrade, .beucw-setting-upgrade:hover{
  background: #10a494;
  color: white;
  padding: 3px;
  border-radius: 5px;
  font-weight: 600;
}

/* Main heading thickness */
.bucw-headingwrap .bucw-header h1 {
  color: #f2ffff;
  font-size: 28px;
  margin: 7px 0;
  font-weight: 500;
}

/* Header expand css */
.bucw-header {
  display: flex;
  justify-content: space-between;
}

/* Header expand div allignment */
.bucw-headingwrap .bucw-header {
  background: #0a2540;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  border-radius: 15px 15px 0 0;
}

/* =======Apply color to select2 on bulk edit table=============== */

#select2-bucw-multiple-categories-results > .select2-results__option--highlighted[aria-selected]:hover, #select2-bucw-multiple-tags-results > .select2-results__option--highlighted[aria-selected]:hover,
#select2-bucw-multiple-sku-results > .select2-results__option--highlighted[aria-selected]:hover, 
#select2-bucw-single-product-results > .select2-results__option--highlighted[aria-selected]:hover,
#select2-bucw-multiple-categories-results > .select2-results__option--highlighted[aria-selected], #select2-bucw-multiple-tags-results > .select2-results__option--highlighted[aria-selected],
#select2-bucw-multiple-sku-results > .select2-results__option--highlighted[aria-selected], 
#select2-bucw-single-product-results > .select2-results__option--highlighted[aria-selected]{
  background: #042340 !important;
  color: white !important;
}

/* Background selectd css */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #01978D !important;
  color: white;
  font-size: 14.5px;
  font-weight: 500;
}

.bucw-pro-button {
  background-color: #00978D !important;
  justify-content: center !important;
  line-height: 1 !important;
  font-weight: 600 !important;
  display: inline-flex !important;
  cursor: pointer !important;
  border-radius: 3px !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  color: white;
  border: none;
}

.beuc-related-products span.select2-selection--multiple ul.select2-selection__rendered li.select2-selection__choice {
  background-color: #cccc !important;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ========== API Key Settings Page ========== */
.beucw-add-api-key-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.beucw-add-api-key-container input[type='text'] {
  width: 100%;
  max-width: 300px !important;
}

.beucw-add-api-key-container .beucw_ajax_button {
  padding: 5px 25px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #0A2540;
}

.beucw-add-api-key-container .beucw_ajax_button:hover {
  opacity: 0.85;
  cursor: pointer;
}

.beucw-add-api-key-message-container span#beucw-key-valid-message {
  display: inline-block;
  padding: 10px 0px;
}

.beucw_openai_api_model {
  height: 40px;
  width: 100%;
  max-width: 300px !important;
}
/* ----------------------------------------------------------------------------------------------------- */



/* ===== AI Popup Changes ====== */
.beucw-ai-popup-heading {
  padding: 25px 0px 10px 0px;
  font-size: clamp(25px, 3vw, 30px);
  color: #fff;
  line-height: 1;
}

.beucw-ai-popup {
  margin-top: 45px;
  text-align: left;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.beucw-ai-popup .beucw-ai-request-warning {
  font-size: 12px;
  margin-bottom: 10px;
}

.beucw-ai-popup .beucw-ai-outer-container {
  padding-bottom: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #d6d6d6;
}

.beucw-ai-popup .beucw-ai-outer-container:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: none;
}

.beucw-ai-popup .beucw-ai-outer-container .clipboard {
  cursor: pointer;
}

/* Styling Heading and Content */
.beucw-ai-popup .beucw-ai-outer-container > div:first-child {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  display: flex;
  align-items: center;
  gap: 5px;
}

.beucw-ai-popup .beucw-ai-outer-container > div:nth-child(2){
  font-size: 14px;
}

.beucw-popup .beucw-ai-popup .multi-select-button {
  padding: 0.5em 0.6em !important;
  width: 250px;
}

.beucw-popup .beucw-ai-popup .multi-select-menu {
  z-index: 10;
  min-width: auto;
  width: 100% !important;
  max-width: 265px;
}

/* Removing Unnecessary Margins from Radio Button and Checkbox */
.beucw-ai-outer-container > div.beucw-ai-checkbox-container input, 
.beucw-ai-outer-container > div.beucw-ai-radio-container input {
  margin: 0px;
}

/* Checkbox Container */
.beucw-ai-outer-container > div.beucw-ai-checkbox-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 12px;
}

.beucw-ai-outer-container > div.beucw-ai-checkbox-container > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.beucw-ai-outer-container > div.beucw-ai-checkbox-container textarea {
  width: 100%;
}

/* Radio Button Container */
.beucw-ai-outer-container > div.beucw-ai-radio-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.beucw-ai-outer-container > div.beucw-ai-radio-container > div {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;
}

.beucw-ai-outer-container > div.beucw-ai-radio-container > div > div:first-child {
  display: flex;
  align-items: center;
  gap: 5px;
}

.beucw-ai-outer-container > div.beucw-ai-radio-container div label {
  display: block;
  min-width: 155px;
}

.beucw-ai-outer-container > div.beucw-ai-radio-container .beucw-ai-radio-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.beucw-ai-radio-container .beucw-select-field-container div:not(:first-child) {
  margin-top: 5px;
}

/* .beucw-ai-outer-container > div.beucw-ai-radio-container .multi-select-container {
  width: 100%;
}

.beucw-ai-outer-container > div.beucw-ai-radio-container .multi-select-button {
  max-width: 300px !important;
  width: 100% !important;
} */

/* .beucw-ai-outer-container > div.beucw-ai-radio-container div:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
} */

/* AI Placeholder */
.beucw-ai-popup .beucw-ai-outer-container .beucw-ai-settings-placeholder{
  color: #545454;
  font-size: 12px;
}

.beucw-ai-outer-container .beucw-default-edit-prompt-radio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.beucw-ai-outer-container .beucw-default-edit-prompt-radio > div {
  display: flex;
  gap: 5px;
}

.beucw-ai-outer-container .beucw-default-edit-prompt-radio input[type='radio'] {
  margin: 0px !important;
}

/* Set Prompt Section */
.beucw-ai-outer-container .beucw-ai-prompt-container textarea {
  width: 100%;
  /* min-height: 150px; */
}

.beucw-ai-radio-container span.beucw-all-products-list, .beucw-ai-radio-container span.beucw-all-cat-selection {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#beucw-send-prompt-btn.beucw-btn {
  border: none;
  padding: 10px;
  background-color: #0A2540;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

#beucw-send-prompt-btn.beucw-btn:hover {
  cursor: pointer;
  background-color: #0d3155;
}

.beucw-ai-outer-container .beucw-prompt-default-edit-radio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.beucw-ai-outer-container .beucw-prompt-default-edit-radio > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.beucw-ai-outer-container .beucw-prompt-default-edit-radio > div input[type='radio'] {
  margin: 0px;
}

.beucw-ai-outer-container .beucw-tokens-request-container {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

/* ====== Request Logs Page - CSS ====== */
.beucw-log-tabs-container {
  margin-right: 15px;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.beucw-log-tab {
  margin-right: 5px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-bottom: none;
}

.beucw-log-tab:hover {
  background-color: #ddd;
}

.beucw-log-tab.active {
  background-color: #ccc;
}

.beucw-log-content-container {
  display: none;
  /* flex: 1; */
  height: auto;
  margin-right: 15px;
  padding: 15px;
  border: 1px solid #ccc;
  border-top: none;
}

.beucw-log-content-container.active {
  display: block;
}

.beucw-log-data-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
}

/* ----------------------------------------------- AI part CSS ---------------------------*/

.sft-popup {
  position: fixed;
  z-index: 999;
  padding-top: 240px;
  padding-left: 90px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.sft-popup-content {
  text-align: justify;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  border-radius: 100px;
  width: 80%;
  color: black;
}

/* #beucw-popup-button {
  color: #0A2540;
  background-color: #FFD954;
  border: none;
} */

.sft-ai-data-header {
  text-align: justify;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  color: black;
}

.sft-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: transparent;
  border: none;
}

.sft-close:hover, .sft-close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.beucw_product_list {
  width: 600px !important;
}

/* .beucw_ajax_button {
  width: 12%;
  height: 38px;
  background-color: #0A2540;
  color: white;
  display: inline-block;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

#sft_ajax_setup_button {
  width: 12%;
  height: 38px;
  background-color: #0A2540;
  color: white;
  display: inline-block;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Popup header */

.sft-ai-header {
  width: 100%;
  height: 37px;
  background-color: #0A2540;
  border-radius: 15px 15px 0 0;
}

.beucw_prompt_cat_selection{
  width: 300px;
}

.beucw-log-data-submenu {
  display: none;
  padding: 10px;
}

.beucw-log-data-submenu li {
  margin: 10px 0px !important;
}

/* Multi select css */

.multi-select-container {
  display: inline-block;
  position: relative;
}

.multi-select-menu {
  width: 300px !important;
}

.multi-select-menu {
  position: absolute;
  left: 0;
  top: 0.8em;
  float: left;
  min-width: 100%;
  background: #fff;
  margin: 1em 0;
  padding: 0.4em 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: none;
}

.multi-select-menu input {
  margin-right: 0.3em;
}

.multi-select-button {
  width: 300px;
  display: inline-block;
  font-size: 0.875em;
  padding: 0.2em 0.6em;
  /* max-width: 20em; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: -0.5em;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: default;
}

.multi-select-button:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.4em 0.4em 0 0.4em;
  border-color: #999 transparent transparent transparent;
  margin-left: 0.4em;
  vertical-align: 0.1em;
}

.multi-select-container--open .multi-select-menu { display: block; }

.multi-select-container--open .multi-select-button:after {
  border-width: 0 0.4em 0.4em 0.4em;
  border-color: transparent transparent #999 transparent;
}

.multi-select-menuitems {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.multi-select-menuitem {
  margin-top: 10px;
}

/* .beucw-chart-header{
  display: flex;
}

.beucw-chart-header > div:first-child {
width : 30%;
}

.beucw-selected-product-container{
  display: flex;
}

.beucw-selected-product-container > div:first-child{
  width : 30%;
}

.beucw-selected-product-container > div:nth-child(2){
  display: flex;
  flex-wrap: wrap;
}

.beucw-selected-product-container > div:nth-child(2) > div{
  width: 50%;
} */

.beucw-check-ai-products{
  text-decoration: underline;
  color: #1b5996;
  cursor: pointer;
}

.beucw_buc-headingwrap .beucw_buc-header #beucw-popup-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  margin-left: auto;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 5px white;
  background: rgb(33, 146, 253);
  background: linear-gradient(117deg, rgba(33, 146, 253, 1) 12%, rgba(158, 55, 254, 1) 88%);
}

/* .beucw-popup-btn-tooltip-container {
  position: relative;
  cursor: pointer;
  height: 22px;
} */

.beucw-popup-btn-tooltip-container > .beucw-ai-popup-btn-tooltip {
  font-size: 11px;
  visibility: hidden;
  max-width: 250px;
  width: 170px;
  background-color: #fff2d4;
  color: #2b2b2b;
  line-height: 1.5;
  text-align: left;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  right: -3px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0px 3px 10px #00000033;
  white-space: normal;
}

.beucw-popup-btn-tooltip-container > .beucw-ai-popup-btn-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 7px;
  border-width: 6px;
  border-style: solid;
  border-color: #fff2d4 transparent transparent transparent;
}

.beucw-popup-btn-tooltip-container:hover .beucw-ai-popup-btn-tooltip {
  opacity: 1;
  visibility: visible;
}


/* Styling Setup with AI Button and its Containers */
.bucw-headingwrap .beucw_buc-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bucw-headingwrap .bucw-header #beucw-popup-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  margin-left: auto;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 5px white;
  background: rgb(33, 146, 253);
  background: linear-gradient(117deg, rgba(33, 146, 253, 1) 12%, rgba(158, 55, 254, 1) 88%);
}

.beucw-popup-btn-tooltip-container {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.beucw-popup-btn-tooltip-container > .beucw-ai-popup-btn-tooltip {
  font-size: 11px;
  visibility: hidden;
  max-width: 250px;
  width: 170px;
  background-color: #fff2d4;
  color: #2b2b2b;
  line-height: 1.5;
  text-align: left;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  right: -3px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0px 3px 10px #00000033;
  white-space: normal;
}

.beucw-popup-btn-tooltip-container > .beucw-ai-popup-btn-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 7px;
  border-width: 6px;
  border-style: solid;
  border-color: #fff2d4 transparent transparent transparent;
}

.beucw-popup-btn-tooltip-container:hover .beucw-ai-popup-btn-tooltip {
  opacity: 1;
  visibility: visible;
}


/* Lock Icon Tooltip CSS */
.beucw-pro-lock-tooltip-container {
  display: flex;
  position: relative;
  cursor: pointer;
}

.beucw-pro-lock-tooltip-container > .beucw-pro-lock-btn-tooltip {
  font-size: 11px;
  font-weight: 500;
  visibility: hidden;
  max-width: 250px;
  width: 170px;
  background-color: #fff;
  color: #2b2b2b;
  line-height: 1.5;
  text-align: left;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: -75%;
  /* right: -3px; */
  opacity: 0;
  left: 22px;
  transition: opacity 0.3s;
  box-shadow: 0px 3px 10px #00000033;
  white-space: normal;
}

.beucw-pro-lock-tooltip-container > .beucw-pro-lock-btn-tooltip::after {
  content: "";
  position: absolute;
  right: 100%;
  top: 10px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
}

.beucw-pro-lock-tooltip-container:hover .beucw-pro-lock-btn-tooltip {
  opacity: 1;
  visibility: visible;
}

.beucw-ai-outer-container .beucw-pro-version-lock {
  position: relative;
  top: 1px;
  left: 2px;
}

.beucw-ai-outer-container .beucw-pro-version-lock.alt {
  position: relative;
  top: -1px;
}

.beucw-required {
  color: red;
}

/* ====== SFT UPGRADE TO PRO BANNER ====== */
.sft-beucw-upgrade-to-pro-banner {
  overflow: hidden;
  margin-top: 30px;
  margin-right: 20px;
  display: flex;
  gap: 10px;
  color: #fff;
  border-radius: 10px;
  background-color: #0A2540;
  box-shadow: 0px 0px 5px rgb(158, 158, 158);
}

.sft-beucw-upgrade-to-pro-banner .sft-uppro-inner-container {
  display: flex;
  gap: 20px;
}

.sft-beucw-upgrade-to-pro-banner .sft-uppro-inner-container>div:first-child {
  padding: 15px;
  display: flex;
  align-items: center;
  background-color: white;
}

.sft-beucw-upgrade-to-pro-banner .sft-uppro-inner-container .sft-uppro-main-logo img {
  width: auto;
  height: 80px;
}

.sft-beucw-upgrade-to-pro-banner .sft-uppro-details-container {
  padding: 20px;
  display: flex;
  gap: 10px;
}

.sft-beucw-upgrade-to-pro-banner .sft-uppro-features-container {
  padding: 25px 15px;
  gap: 20px;
  border: 2px dotted white;
  border-radius: 5px;
  font-size: 14px;
}

.sft-beucw-upgrade-to-pro-banner .sft-uppro-features-container h3 {
  margin: 0px 0px 20px 0px !important;
  font-size: 20px;
  color: #02BFAE;
}

.sft-beucw-upgrade-to-pro-banner .sft-uppro-features-container ul {
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sft-beucw-upgrade-to-pro-banner .sft-uppro-money-back-guarantee {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sft-beucw-upgrade-to-pro-banner .sft-uppro-money-back-guarantee>div:last-child {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.sft-beucw-upgrade-to-pro-banner .sft-uupro-upgrade-btn {
  padding: 0 17px;
  line-height: 38px;
  border: none;
  border-radius: 5px;
  background: #00978D;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.sft-beucw-upgrade-to-pro-banner .sft-uppro-money-back-guarantee img {
  width: 165px;
  height: auto;
}

.sft-beucw-upgrade-to-pro-banner .sft-uppro-money-back-guarantee h2 {
  margin: 0px !important;
  font-size: clamp(22px, 1.5vw, 28px) !important;
  line-height: 1.2;
  color: #f8c844;
}

.sft-beucw-upgrade-to-pro-banner .sft-uppro-money-back-guarantee h3 {
  margin: 10px 0px !important;
  font-size: 20px;
  line-height: 1.3;
  color: #fff;
}

.sft-beucw-upgrade-to-pro-banner .sft-uppro-money-back-guarantee p {
  margin: 0px !important;
  font-size: 14px;
  color: #fff;
}

.sft-beucw-upgrade-to-pro-banner .sft-uppro-hidden-desktop {
  display: none;
  padding: 5px 20px;
}

.sft-beucw-upgrade-to-pro-banner .sft-uppro-hidden-desktop h2 {
  text-align: center;
  margin: 0px !important;
  font-size: clamp(22px, 2vw, 28px) !important;
  line-height: 1.2;
  color: #f8c844;
}

@media screen and (max-width: 1200px) {
  .sft-beucw-upgrade-to-pro-banner {
    flex-direction: column;
  }

  .sft-beucw-upgrade-to-pro-banner .sft-uppro-inner-container>div:first-child {
    width: 100%;
    justify-content: center;
  }

  .sft-beucw-upgrade-to-pro-banner .sft-uppro-money-back-guarantee {
    flex-direction: column;
    gap: 0px;
  }

  .sft-beucw-upgrade-to-pro-banner .sft-uppro-money-back-guarantee h2 {
    display: none;
  }

  .sft-beucw-upgrade-to-pro-banner .sft-uppro-hidden-desktop {
    display: block;
  }

  .sft-beucw-upgrade-to-pro-banner .sft-uppro-money-back-guarantee img {
    width: 125px;
  }
}

@media screen and (max-width: 1550px) {
  .sft-beucw-upgrade-to-pro-banner .sft-uppro-money-back-guarantee {
    flex-direction: column;
    gap: 0px;
  }
}

@media screen and (max-width: 690px) {
  .sft-beucw-upgrade-to-pro-banner {
    margin-right: 10px;
  }

  .sft-beucw-upgrade-to-pro-banner .sft-uppro-details-container {
    flex-direction: column;
    gap: 25px;
  }

  .sft-beucw-upgrade-to-pro-banner .sft-uppro-money-back-guarantee {
    flex-direction: row;
    gap: 10px;
  }

  .sft-beucw-upgrade-to-pro-banner .sft-uppro-money-back-guarantee>div:last-child {
    padding: 0px !important;

  }

  .sft-beucw-upgrade-to-pro-banner .sft-uppro-money-back-guarantee h3 {
    margin: 0px !important;
  }
}



/* Upgrade to Pro Button with Animation */
.beucw-upgrade-pro-btn .beucw-upgrade-to-pro-btn {
  overflow: hidden;
  position: relative;
  border: none;
  padding: 14px;
  width: 200px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
  color: white;
  background: #1ea79e;
  /* box-shadow: 0px 0px 10px #86c1b6; */
}

.beucw-upgrade-pro-btn .beucw-upgrade-to-pro-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75px;
  width: 50px;
  height: 100%;
  background: rgb(255 255 255 / 50%);
  box-shadow: 0px 0px 20px 5px #ffffffbd;
  transform: skewX(-45deg);
  opacity: 0;
  animation: shine_upgrade_btn 3s infinite;
}

/* Keyframes for the shine animation */
@keyframes shine_upgrade_btn {
  0% {
    left: -75px;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    left: 160%;
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    left: 200%;
    opacity: 0;
  }
}


/* AI Notice CSS */
.beucw-custom-notice {
  font-size: 14px;
  line-height: 1.5;
}

.beucw-custom-notice.notice-warning {
  border-left-color: #9e60ff;
}

.beucw-custom-notice h4 {
  margin-bottom: 0px !important;
}


.beucw-custom-notice a {
  display: inline-block;
}

.beucw-custom-notice .beucw-notice-button {
  padding: 5px 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: white;
  background: #aa74ff;
}